body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header, footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
}

.sky {
    transform: translateZ(-30px) scale(4);
}
.moon {
    transform: translateZ(-20px) scale(3);
}
.mountains {
    transform: translateZ(-10px) scale(2);
}
.steps {
    border-bottom: 2px solid black;
}
.scene {
    border-top: 2px solid black;
}

.sky, .moon, .mountains, .steps, .scene {
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

.title {
    font-family: sans-serif;
    font-size: 7rem;
    color: white;
    text-shadow: 2px 2px 1px black;
}

section {
    padding: 25vh 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-bottom: 2px solid black;
    z-index: 1;
    transform: translateZ(0px);
}

.button {
    font-size: 2rem;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    transform: translateZ(5px) scale(0.5);
    transition: padding 0.25s;
}

.button:hover {
    padding: 1rem 2rem;
}

.button:active {
    color: black;
    background-color: white;
}